<div class="container-fluid">
    <h1 class="page-header">Find a Walker</h1>
    <div class="content">
        <p>When does your dog need a walk?</p>
        <form name="searchForm" class="form-inline">
            <div class="form-group">
                <label for="days">Day: </label>
                <select ng-model="criteria.day" class="form-control" required>
                    <option ng-repeat="day in model.days">{{day}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="times">Time: </label>
                <select ng-model="criteria.time" class="form-control" required>
                    <option ng-repeat="time in model.times">{{time}}</option>
                </select>
            </div>
            <button ng-click="model.search(criteria)" ng-disabled="searchForm.$invalid" class="btn btn-primary">Search</button>
             or
            <button ng-click="model.searchAll()" class="btn btn-primary">Search All Walkers</button>
        </form>
        <hr>
        <div ng-show="model.hasNoResults" class="row">
            <div class="alert alert-warning col-md-12"><i class="fa fa-frown-o"></i> Looks like we couldn't find a walker for you with these options. Try searching with a different day or time.</div>
        </div>
        <table class="table table-hover" ng-show="model.hasResults">
            <thead>
            <tr>
                <th class="col-sm-2">Walker</th>
                <th class="col-sm-1">Rating</th>
                <th class="col-sm-1">City</th>
                <th class="col-sm-6">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="walker in model.walkers">
                <td>{{walker.firstName}} {{walker.lastName}}</td>
                <td><span class="badge"><i class="fa fa-star"></i> {{walker.rating}}</span></td>
                <td>{{walker.city}}</td>
                <td>
                    <a ng-click="model.moreInfo(walker._id)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span><span class="hidden-xs hidden-sm"> Profile</span></a>
                    <a ng-click="model.requestAppt(walker._id)" ng-hide="isWalker" class="btn btn-success btn-sm"><i class="fa fa-check"></i><span class="hidden-xs hidden-sm"> Book!</span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


