body {
    font-family: "Oxygen";
    font-size: 16px;
    line-height: 25px;
    width: 100%;
    height: 100%
}

html {
    width: 100%;
    height: 100%;
}

a {
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

/* HEADER */
@media(min-width:767px) {
    .top {
        font-size: 18px;
        padding: 10px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-collapse {
        padding: 3px 0px;
    }
}

/* LOGIN DROPDOWN */
.log {
    min-width: 300px;
    padding: 14px 14px 0;
    overflow: hidden;
}

.log .list a {
    padding: 15px;
}

.log .list-top a, .log .bottom {
    border-top: 1px solid #ddd;
    padding: 15px;
}

/* HOME - FIRST ROW */
.main {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    text-align: center;
}

.main-image1 {
    background-image: url("http://s23.postimg.org/rfdz9r3mj/DSC_9674.jpg");
}

.main-image2 {
    background-image: url("http://s7.postimg.org/avvluxtjv/DSC_7709.jpg");
}

.main-text {
    color: #fff;
    position: relative;
    top: 50%;
    overflow: hidden;
}

.main-text h1, h1 {
    font-family: "Kalam";
    text-transform: uppercase;
}

/* HOME - SECOND ROW */
.about {
    margin: auto;
    width: 100%;
    padding: 10px 50px 50px;
}

/* HOME - THIRD ROW */
.team {
    background-color: #f7f7f7;
    margin: auto;
    width: 100%;
    padding: 25px 50px 50px;
}

/* HOME - FOURTH ROW */
.connect {
    color: #fff;
    padding: 50px;
    width: 100%;
    background-color: #2c3e50;
}

/* SOCIAL MEDIA */
.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

/* FOOTER */
.info {
    padding: 15px 0;
    width : 100%;
    color: #fff;
    background-color: #233140;
    font-size: 12px;
}

/* CONTENT - MAIN */
.content {
    margin: auto;
    width: 95%;
}