<h1 class="page-header">Forms: {{model.form.title}} Form</h1>
<ul class="nav nav-tabs">
	<li role="presentation" ng-class="{'active' : $location.url().indexOf('form') != -1}"><a href="#/form">Forms</a></li>
	<li role="presentation" class="disabled"><a href="#">Fields</a></li>
</ul>

<div ng-repeat="field in model.fields" ng-switch on="field.type" class="form-group">
	<label for="{{field.label}}" class="control-label">{{field.label}}</label>
	<div class="row">
		<div class="col-md-5">
			<!-- text -->
			<div ng-switch-when="TEXT">
				<input type="text" class="form-control" placeholder="{{field.label}}">
			</div>

			<!-- textarea -->
			<div ng-switch-when="TEXTAREA">
				<textarea class="form-control" placeholder="{{field.label}}"></textarea>
			</div>

			<!-- date -->
			<div ng-switch-when="DATE">
				<input type="date" class="form-control">
			</div>

			<!-- dropdown/options -->
			<div ng-switch-when="DROPDOWN">
				<select class="form-control">
					<option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
				</select>
			</div>

			<!-- checkboxes -->
			<div ng-switch-when="CHECKBOX">
				<div ng-repeat="option in field.options" class="checkbox">
					<label>
						<input type="checkbox" name="default" value="{{option.value}}">{{option.label}}
					</label>
				</div>
			</div>

			<!-- radio buttons -->
			<div ng-switch-when="RADIO">
				<div ng-repeat="option in field.options" class="radio">
					<label>
						<input type="radio" name="default" value="{{option.value}}">{{option.label}}
					</label>
				</div>
			</div>

			<!-- email -->
			<div ng-switch-when="EMAIL">
				<input type="email" class="form-control" placeholder="{{field.label}}">
			</div>
		</div>
		<div class="col-sm-5 btn-group btn-group-sm" role="group" aria-label="Field options">
			<button ng-click="model.editField(field)" class="btn wood glyphicon glyphicon-pencil" title="Edit"></button>
			<button ng-click="model.copyField(field)" class="btn earth glyphicon glyphicon-plus" title="Clone"></button>
			<button ng-click="model.deleteField(field)" class="btn fire glyphicon glyphicon-remove" title="Delete"></button>
			<button class="btn water glyphicon glyphicon-align-justify" title="Reorder"></button>
		</div>
	</div>
</div>

<h1 class="page-header"></h1>
<div class="form-group">
	<label for="newField" class="control-label">Add New Field:</label>
	<div class="row">
		<div class="col-md-5">
			<select ng-model="newField" class="form-control">
				<option value="TEXT">Single Line Text Field</option>
				<option value="TEXTAREA">Multi Line Text Field</option>
				<option value="DATE">Date Field</option>
				<option value="DROPDOWN">Dropdown Field</option>
				<option value="CHECKBOX">Checkboxes Field</option>
				<option value="RADIO">Radio Buttons Field</option>
			</select>
		</div>
		<div class="col-sm-3">
			<button ng-click="model.addField(newField)" class="btn btn-sm earth glyphicon glyphicon-plus" title="Add">
				<span class="sr-only">Add field</span>
			</button>
		</div>
	</div>
</div>
