<h1 class="page-header">Form Fields</h1>
<ul class="nav nav-tabs">
	<li role="presentation"><a href="#/form">Forms</a></li>
	<li role="presentation" class="active"><a>Fields</a></li>
</ul>

<div ng-repeat="field in model.fields" ng-switch on="field.type" class="form-group">
	<label for="{{field.label}}" class="control-label">{{field.label}}</label>
	<div class="row">
		<div class="col-md-5">
			<!-- text -->
			<input ng-switch-when="TEXT" type="text" class="form-control" placeholder="{{field.placeholder}}">

			<!-- textarea -->
			<textarea ng-switch-when="TEXTAREA" class="form-control" placeholder="{{field.placeholder}}"></textarea>

			<!-- date -->
			<input ng-switch-when="DATE" type="date" class="form-control">

			<!-- dropdown/options -->
			<select ng-switch-when="DROPDOWN" class="form-control">
				<option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
			</select>

			<!-- checkboxes -->
			<div ng-switch-when="CHECKBOX" ng-repeat="option in field.options" class="checkbox">
				<label>
					<input type="checkbox" name="default" value="{{option.value}}">{{option.label}}
				</label>
			</div>

			<!-- radio buttons -->
			<div ng-switch-when="RADIO" ng-repeat="option in field.options" class="radio">
				<label>
					<input type="radio" name="default" value="{{option.value}}">{{option.label}}
				</label>
			</div>

			<!-- email -->
			<input ng-switch-when="EMAIL" type="email" class="form-control" placeholder="{{field.label}}">
		</div>

		<div class="col-sm-5 btn-group btn-group-sm" role="group" aria-label="Field options">
			<button ng-click="needEdit = !needEdit" class="btn wood glyphicon glyphicon-pencil" title="Edit"></button>
			<button ng-click="model.copyField(field)" class="btn earth glyphicon glyphicon-plus" title="Clone"></button>
			<button ng-click="model.deleteField(field)" class="btn fire glyphicon glyphicon-remove" title="Delete"></button>
			<button class="btn water glyphicon glyphicon-align-justify" title="Reorder"></button>
		</div>
	</div>
	<div class="row" ng-show="needEdit">
		<div class="col-xs-offset-1 col-md-5 alert alert-success">
			<h4 class="page-header">Edit field:</h4>
			<div class="form-group">
				<label for="{{field.label}}" class="control-label">Label:</label>
				<input ng-model="updatedField.label" class="form-control" placeholder="{{field.label}}">
			</div>
			<div class="form-group">
				<label for="{{field.placeholder}}" class="control-label">Placeholder:</label>
				<input ng-model="updatedField.placeholder" class="form-control" placeholder="{{field.placeholder}}">
			</div>
			<div class="form-group">
				<label for="{{field.type}}" class="control-label">Type:</label>
				<span ng-model="updatedField.type" class="form-control" disabled>{{field.type}}</span>
			</div>
			<button ng-click="model.editField(field.id, updatedField)" class="btn fire" title="Edit">Save</button>
		</div>
	</div>
</div>

<h1 class="page-header"></h1>
<div class="form-group">
	<label for="newField" class="control-label">Add New Field:</label>
	<div class="row">
		<div class="col-md-5">
			<select ng-model="newField" class="form-control">
				<option value="TEXT">Single Line Text Field</option>
				<option value="TEXTAREA">Multi Line Text Field</option>
				<option value="DATE">Date Field</option>
				<option value="DROPDOWN">Dropdown Field</option>
				<option value="CHECKBOX">Checkboxes Field</option>
				<option value="RADIO">Radio Buttons Field</option>
			</select>
		</div>
		<div class="col-sm-3">
			<button ng-click="model.addField(newField)" class="btn btn-sm earth glyphicon glyphicon-plus" title="Add">
				<span class="sr-only">Add field</span>
			</button>
		</div>
	</div>
</div>
