/* COLOUR CUSTOMISATION */
.fire {
  background-color: #f05574;
  color: #fff;
}

.fire:hover {
  background-color: #a83b51;
  color: #fff;
}

.wood {
  background-color: #e1b560;
  color: #fff;
}

.wood:hover {
  background-color: #9d7e43;
  color: #fff;
}

.earth {
  background-color: #4fc682;
  color: #fff;
}

.earth:hover {
  background-color: #3d9a65;
  color: #fff;
}

.water {
  background-color: #4db1ce;
  color: #fff; 
}

.water:hover {
  background-color: #0190BA;
  color: #fff;  
}

.metal {
  background-color: #888;
  color: #fff;
}

.metal:hover {
  background-color: #767676;
  color: #fff;
}