/* MAIN BODY */
body {
  padding-top: 50px;
}

.main {
  padding: 20px;
}

.main .page-header {
  margin-top: 0;
}

.centered {
  text-align: center;
}

/* LINK CUSTOMISATION */
.maroon {
  background-color: #885159;
  color: #fff;
}

.maroon:hover {
  background-color: #936269;
  color: #fff;
}

.coffee {
  background-color: #886451;
  color: #fff;
}

.coffee:hover {
  background-color: #937362;
  color: #fff;
}

.forest {
  background-color: #528881;
  color: #fff;
}

.forest:hover {
  background-color: #63938d;
  color: #fff;
}

.lavender {
  background-color: #645188;
  color: #fff;
}

.lavender:hover {
  background-color: #736293;
  color: #fff;
}

/* SIDE NAVIGATION */
.sidebar {
  display: none;
}

.nav-sidebar {
  margin: 0px -20px 20px -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #528881;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #528881;
}

/* PHONES/TABLETS-RESPONSIVE */
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
  
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    display: block;
    padding: 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}