/* MAIN BODY */
.centered {
  text-align: center;
}

/* LINK CUSTOMISATION */
.maroon {
  background-color: #885159;
  color: #fff;
}

.maroon:hover {
  background-color: #936269;
  color: #fff;
}

.coffee {
  background-color: #886451;
  color: #fff;
}

.coffee:hover {
  background-color: #937362;
  color: #fff;
}

.forest {
  background-color: #528881;
  color: #fff;
}

.forest:hover {
  background-color: #63938d;
  color: #fff;
}

.lavender {
  background-color: #645188;
  color: #fff;
}

.lavender:hover {
  background-color: #736293;
  color: #fff;
}