<div class="container-fluid">
    <h1 class="page-header">Register</h1>
    <div class="content">
        <div class="alert alert-warning">NOTE: At this time, we do not support users that are both a dog walker and a dog owner. You must register separately for each user account type. You may use the same email.</div>
        <div class="row">
            <div class="col-md-6 login">
                <h3>Dog Owners</h3>
                <p>Is life getting a bit ruff and you can't take your dog on walks as frequently as before? Register now and start looking for a walker in your area! All of our walkers are certified and background-checked to give your best friend the best time!</p>
                <p>NOTE: Your dog must be up-to-date with all its vaccinations.</p>
                <div ng-show="model.error" class="alert alert-danger">{{model.message}}</div>
                <div ng-show="model.success" class="alert alert-success">{{model.message}}</div>
                <form ng-hide="model.success" name="regForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email:</label>
                        <div class="col-md-9">
                            <input type="email" ng-model="user.email" id="email" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password:</label>
                        <div class="col-md-9">
                            <input type="password" ng-model="user.password" id="password" class="form-control" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vPassword" class="col-md-3 control-label">Verify Password:</label>
                        <div class="col-md-9">
                            <input type="password" ng-model="user.vPassword" id="vPassword" class="form-control" placeholder="Verify Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dogName" class="col-md-3 control-label">Dog Name:</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="user.dogName" id="dogname" class="form-control" placeholder="Dog Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="breed" class="col-md-3 control-label">Breed:</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="user.breed" id="breed" class="form-control" placeholder="Breed" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="age" class="col-md-3 control-label">Age (years):</label>
                        <div class="col-md-3">
                            <input type="number" ng-model="user.age" id="age" min="0" class="form-control" placeholder="Age" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button ng-click="model.register(user)" ng-disabled="regForm.$invalid" class="btn btn-primary form-control" role="button">Register</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 login">
                <h3>Dog Walkers</h3>
                <p>Do you love dogs and just can't get enough of them? Start an application with us, and if selected and approved, you can start walking and bonding with the dogs in your neighborhood!</p>
                <button ng-click="model.apply()" class="btn btn-primary form-control">Start Application</button>
            </div>
        </div>
    </div>
</div>
