<div class="container-fluid">
    <h1 class="page-header">Application</h1>
    <div class="content">
        <form name="appForm" class="form-horizontal">
            <div class="form-group">
                <label for="fname" class="col-md-2 control-label">First Name:</label>
                <div class="col-md-3">
                    <input type="text" ng-model="app.firstName" id="fname" class="form-control" placeholder="First Name" required>
                </div>
                <label for="lname" class="col-md-2 control-label">Last Name:</label>
                <div class="col-md-3">
                    <input type="text" ng-model="app.lastName" id="lname" class="form-control" placeholder="Last Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="dob" class="col-md-2 control-label">Date of Birth:</label>
                <div class="col-md-3">
                    <input type="date" ng-model="app.dob" id="dob" class="form-control" required>
                </div>
                <label for="phone" class="col-md-2 control-label">Phone:</label>
                <div class="col-md-3">
                    <input type="tel" ng-model="app.phone" id="phone" class="form-control" placeholder="xxx-xxx-xxxx" required>
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-md-2 control-label">Address:</label>
                <div class="col-md-4">
                    <input type="text" ng-model="app.address" id="address" class="form-control" placeholder="123 Happy Paws St" required>
                </div>
                <label for="city" class="col-md-2 control-label">City:</label>
                <div class="col-md-2">
                    <input type="text" ng-model="app.city" id="city" class="form-control" placeholder="Seattle" required>
                </div>
            </div>
            <div class="alert">
                Please enter your email and choose a password for your account. You can use this to check on the status of your application. Remember to <strong>check off</strong> that you are a returning walker before logging in.
            </div>
            <div ng-show="model.error" class="alert alert-danger">{{model.message}}</div>
            <div class="form-group">
                <label for="email" class="col-md-2 control-label">Email:</label>
                <div class="col-md-8">
                    <input type="email" ng-model="app.email" id="email" class="form-control" placeholder="dogwalker@happypaws.com" required>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-2 control-label">Password:</label>
                <div class="col-md-8">
                    <input type="password" ng-model="app.password" id="password" class="form-control" placeholder="Password" required>
                </div>
            </div>
            <div class="form-group">
                <label for="vPassword" class="col-md-2 control-label">Verify Password:</label>
                <div class="col-md-8">
                    <input type="password" ng-model="app.vPassword" id="vPassword" class="form-control" placeholder="Verify Password" required>
                </div>
            </div>
            <div class="alert">
                Answer the following questions in <strong>one</strong> concise paragraph.
            </div>
            <div class="form-group">
                <label for="exp" class="col-xs-offset-1 form-label">Give a brief description of your experience of working with dogs and other pet services.</label>
                <div class="col-md-8">
                    <textarea ng-model="app.exp" id="exp" class="col-md-offset-3 form-control" rows="4" placeholder="I am..." required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="about" class="col-xs-offset-1 form-label">Other than your love of dogs, why are you applying to Happy Paws?</label>
                <div class="col-md-8">
                    <textarea ng-model="app.whyApply" id="about" class="col-md-offset-3 form-control" rows="4" placeholder="I am..." required></textarea>
                </div>
            </div>
            <div class="container">
                <p>When I submit this application, I am certifying that all the information provided is accurate and up-to-date, and I am aware that a background check will be performed if I am selected. I also understand that Happy Paws receives hundreds of applications each day and I may not receive a response. Furthermore, I am aware of all the policies that are expected of me as a dog walker, such as treating each pup with love and care, picking up after their waste, and fully giving the dog under my care my full attention when out on walks.</p>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button ng-click="model.apply(app)" ng-disabled="appForm.$invalid" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>