<h1 class="page-header">Admin</h1>
<h3>Users</h3>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th class="col-sm-3"><span class="caret"></span> Username</th>
        <th class="col-sm-3"><span class="caret"></span> Password</th>
        <th class="col-sm-3"><span class="caret"></span> Role</th>
        <th class="col-sm-2"><span class="caret"></span> Action</th>
    </tr>
    <tr>
        <th>
            <label class="sr-only">Username</label><input type="text" class="form-control" placeholder="Username">
        </th>
        <th>
            <label class="sr-only">Password</label><input type="password" class="form-control" placeholder="Password">
        </th>
        <th>
            <label class="sr-only">Roles</label><input type="text" class="form-control" placeholder="Role1, Role2">
        </th>
        <th>
            <a class="btn btn-sm earth glyphicon glyphicon-plus" role="button" title="Add"><span class="sr-only">Add user</span></a>
            <a class="btn btn-sm water glyphicon glyphicon-ok" role="button" title="Update"><span class="sr-only">Update user</span></a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>alice</td>
        <td></td>
        <td>student</td>
        <td>
            <a class="btn btn-sm fire glyphicon glyphicon-remove" role="button" title="Remove"><span class="sr-only">Remove user</span></a>
            <a class="btn btn-sm wood glyphicon glyphicon-pencil" role="button" title="Edit"><span class="sr-only">Edit user</span></a>
        </td>
    </tr>
    <tr>
        <td>bob</td>
        <td></td>
        <td>faculty | admin</td>
        <td>
            <a class="btn btn-sm fire glyphicon glyphicon-remove" role="button" title="Remove"><span class="sr-only">Remove user</span></a>
            <a class="btn btn-sm wood glyphicon glyphicon-pencil" role="button" title="Edit"><span class="sr-only">Edit user</span></a>
        </td>
    </tr>
    <tr>
        <td>charlie</td>
        <td></td>
        <td></td>
        <td>
            <a class="btn btn-sm fire glyphicon glyphicon-remove" role="button" title="Remove"><span class="sr-only">Remove user</span></a>
            <a class="btn btn-sm wood glyphicon glyphicon-pencil" role="button" title="Edit"><span class="sr-only">Edit user</span></a>
        </td>
    </tr>
    </tbody>
</table>