<div class="container-fluid">
    <h1 class="page-header">Appointments</h1>
    <div class="content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">Accepted?</th>
                <th class="col-md-1">Start Date</th>
                <th ng-show="isWalker" class="col-md-2">Dog</th>
                <th ng-hide="isWalker" class="col-md-2">Walker</th>
                <th class="col-md-2">Appt Details</th>
                <th class="col-md-4 text-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="appt in model.appts">
                <td>{{appt.accepted}}</td>
                <td>{{appt.date | date: 'shortDate'}}</td>
                <td ng-show="isWalker"><a ng-click="model.openOwner(appt.ownerId)">{{appt.dogName}}</a></td>
                <td ng-hide="isWalker"><a ng-click="model.openWalker(appt.walkerId)">{{appt.walker}}</a></td>
                <td><a ng-click="model.openRequest(appt)">See more &raquo;</a></td>
                <td ng-show="!isWalker" class="text-center">
                    <button class="btn btn-danger btn-sm" ng-click="model.deleteAppt($index)" title="Delete"><i class="fa fa-times"></i> <span class="hidden-sm hidden-xs">Cancel</span></button>
                </td>
                <td ng-show="isWalker" class="text-center">
                    <button class="btn btn-success btn-sm" ng-click="model.acceptAppt($index, 'Yes')" title="Accept"><i class="fa fa-check"></i><span class="hidden-sm hidden-xs"> Accept</span></button>
                    <button class="btn btn-danger btn-sm" ng-click="model.acceptAppt($index, 'No')" title="Decline"><i class="fa fa-times"></i><span class="hidden-sm hidden-xs"> Decline</span></button>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-hide="model.hasAppts" class="alert alert-warning" role="alert">{{model.message}}</div>
    </div>
</div>
