<div class="container-fluid">
    <h1 class="page-header">Profile</h1>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#/walkerprofile">Walker <span class="sr-only">(current)</span></a></li>
        <li role="presentation"><a href="#/profile">Dog</a></li>
    </ul>
    <div class="row">
        <div class="col-sm-3">
            <p><img class="img-responsive img-rounded" src="http://s17.postimg.org/nozqpso4v/walker.png"></p>
            <div class="rating">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
            <div class="list-group">
                <a href="#/readreviews" class="list-group-item">Reviews <span class="badge">3</span></a>
                <a href="#/readrequests" class="list-group-item">Requests <span class="badge">2</span></a>
                <a href="#/sendreport" class="list-group-item">Send report card <span class="badge">0</span></a>
            </div>
        </div>
        <div class="col-sm-7">
            <h2>Verena C.</h2>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="city" class="col-sm-3 control-label">City:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="city" id="city" class="form-control" placeholder="City">
                    </div>
                </div>
                <div class="form-group">
                    <label for="zip" class="col-sm-3 control-label">Zip Code:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="zip" id="zip" class="form-control" placeholder="Zip Code">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email:</label>
                    <div class="col-sm-9">
                        <input type="email" ng-model="email" id="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-3 control-label">Phone:</label>
                    <div class="col-sm-4">
                        <input type="tel" ng-model="phone" id="phone" class="form-control" placeholder="xxx-xxx-xxxx">
                    </div>
                </div>
                <div class="form-group">
                    <label for="days" class="col-sm-3 control-label">Available Days:</label>
                    <div class="col-sm-9">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>M</th>
                                <th>T</th>
                                <th>W</th>
                                <th>Th</th>
                                <th>F</th>
                                <th>S</th>
                                <th>Su</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="checkbox" name="days" value="mon"></td>
                                <td><input type="checkbox" name="days" value="tues"></td>
                                <td><input type="checkbox" name="days" value="wed"></td>
                                <td><input type="checkbox" name="days" value="thurs"></td>
                                <td><input type="checkbox" name="days" value="fri"></td>
                                <td><input type="checkbox" name="days" value="sat"></td>
                                <td><input type="checkbox" name="days" value="sun"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label for="times" class="col-sm-3 control-label">Available Times:</label>
                    <div class="col-sm-9">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>6-9a</th>
                                <th>9-12p</th>
                                <th>12-3p</th>
                                <th>3-6p</th>
                                <th>6-9p</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="checkbox" name="times" value="dawn"></td>
                                <td><input type="checkbox" name="times" value="morning"></td>
                                <td><input type="checkbox" name="times" value="midday"></td>
                                <td><input type="checkbox" name="times" value="afternoon"></td>
                                <td><input type="checkbox" name="times" value="evening"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-success form-control" role="button">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
