<div class="jumbotron picture" id="main">
    <div class="container picture-text">
        <div>
            <h1>Time for a walk!</h1>
            <a class="btn btn-primary btn-lg" href="#/register" role="button">Sign Up Now! &raquo;</a>
        </div>
    </div>
</div>

<div class="container about" id="about">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">About</h1>
            <h2>We walk. We sit. We can even stay!</h2>
            <p>Happy Paws is a new upcoming dog-walking service for the greater Seattle area in Dec 2015! Everyone knows a dog is a man's best friend. We love them, we care for them... they're basically like our family. But of course, sometimes work or play gets in the way and the dog is left behind. But that's where we step in! Happy Paws is dedicated to making it quick and easy for you and your pup to find a dog walker in your neighborhood that you can book once, daily, or weekly! <a href="#/register">Sign up now and get started!</a></p>
            <h2>We come in three sizes.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <h3 class="text-center">- Small -</h3>
            <h3 class="text-center">Quick Play</h3>
            <hr>
            <p>15 minutes</p>
            <p>$12 / session</p>
        </div>
        <div class="col-sm-4 text-center">
            <h3 class="text-center">- Medium -</h3>
            <h3 class="text-center">Easy Stroll</h3>
            <hr>
            <p>30 minutes</p>
            <p>$22 / session</p>
        </div>
        <div class="col-sm-4 text-center">
            <h3 class="text-center">- Large -</h3>
            <h3 class="text-center">Adventure Time</h3>
            <hr>
            <p>60 minutes</p>
            <p>$40 / session</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>No dog?</h2>
            <p>No problem! Happy Paws is always looking for more dog walkers, so if you're interested, <a href="#/register">submit an application today!</a></p>
        </div>
    </div>
</div>

<div class="container team" id="team">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Our Team</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <h2>Currently on a walk in...</h2>
            <ul>
                <li>Northgate</li>
                <li>University District</li>
                <li>Downtown Seattle</li>
                <li>Capitol Hill / Queen Anne</li>
                <li>Alki / West Seattle</li>
            </ul>
            <p>Because we are fairly new, Happy Paws is only based in the greater Seattle area. However, starting in 2017, we will be expanding to the neighbhorhoods east of Lake Washington, including Mercer Island, Bellevue, and Renton!</p>
        </div>
        <div class="col-md-6">
            <h2>The humans.</h2>
            <p>Our Happy Paws team take our job very seriously. Each member is a long-time pet-owner themselves or has been exposed to petcare for more than 5 years. We believe that the friendship between a human and a dog is special and will create an individualized bond with each dog. All of our walkers have been background-checked, so you can rest at ease and be confident in our dog-walking service!</p>
            <h2>Meet the team?</h2>
            <p><a href="#/walkers">Click here</a> and find your pup its new buddy!</p>
        </div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-md-4">
            <img class="img-circle" src="http://s22.postimg.org/jj1332t3h/dog1.jpg" />
            <p>Alki</p>
        </div>
        <div class="col-md-4">
            <img class="img-circle" src="http://s16.postimg.org/6yddr3rpd/dog2.jpg" />
            <p>Waterfront</p>
        </div>
        <div class="col-md-4">
            <img class="img-circle" src="http://s3.postimg.org/n7k895xvz/dog3.jpg" />
            <p>Downtown</p>
        </div>
    </div>
</div>


<div class="connect" id="connect">
    <div class="container">
        <h1>Connect with #HappyPaws!</h1>
        <p>Connect with us on Google+, Facebook and Twitter to receive news about all our upcoming events and updates! We also love seeing all the fun pictures and reading your reviews about our service. We always strive for simplicity and excellence, so any input is greatly appreciated.</p>
        <p>Add us today!</p>
        <ul class="list-inline text-center">
            <li>
                <a class="btn-social btn-outline"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
                <a class="btn-social btn-outline"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a class="btn-social btn-outline"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
                <a class="btn-social btn-outline"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a class="btn-social btn-outline"><i class="fa fa-yelp"></i></a>
            </li>
        </ul>
    </div>
</div>