<div class="jumbotron main main-image1" id="main">
    <div class="container main-text">
        <h1>Time for a walk!</h1>
        <a class="btn btn-primary btn-lg" href="#/register">Sign Up Now! &raquo;</a>
    </div>
</div>

<div class="container about" id="about">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Our Mission</h1>
            <h2>We walk. We sit. We can even stay!</h2>
            <p>Happy Paws is a new upcoming dog-walking service for the greater Seattle area in Dec 2015! Everyone knows a dog is a man's best friend. We love them, we care for them... they're basically like our family. But of course, sometimes work or play gets in the way and the dog is left behind. But that's where we step in! Happy Paws is dedicated to making it quick and easy for you and your pup to find a dog walker in your neighborhood that you can book once, daily, or weekly! <a href="#/register">Sign up now and get started!</a></p>
            <h2>We come in three sizes.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="http://s13.postimg.org/5lvldp2k7/dog2.png"/>
            <br>
            <h3 class="text-center">Quick Play</h3>
            <p>15 minutes</p>
            <p>$12 / session</p>
            <hr>
        </div>
        <div class="col-md-4 text-center">
            <img src="http://s21.postimg.org/58dnbbm6v/dog.png"/>
            <br>
            <h3 class="text-center">Easy Stroll</h3>
            <p>30 minutes</p>
            <p>$22 / session</p>
            <hr>
        </div>
        <div class="col-md-4 text-center">
            <img src="http://s7.postimg.org/3kjvkk3h7/dog3.png"/>
            <br>
            <h3 class="text-center">Adventure Time</h3>
            <p>60 minutes</p>
            <p>$40 / session</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>No dog?</h2>
            <p>No problem! Happy Paws is always looking for more dog walkers, so if you're interested, <a href="#/register">submit an application today!</a></p>
        </div>
    </div>
</div>

<div class="container team" id="team">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Our Team</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <h2>Currently on a walk in...</h2>
            <ul>
                <li>Northgate</li>
                <li>University District</li>
                <li>Downtown Seattle</li>
                <li>Capitol Hill / Queen Anne</li>
                <li>Alki / West Seattle</li>
            </ul>
            <p>Because we are fairly new, Happy Paws is only based in the greater Seattle area. However, starting summer of 2016, we will be expanding to the neighbourhoods east of the big city, including Mercer Island, Bellevue, and Renton!</p>
        </div>
        <div class="col-md-6">
            <h2>Our humans.</h2>
            <p>Our Happy Paws team take our job very seriously. Each member is a long-time pet-owner themselves or has been exposed to petcare for more than 5 years. We believe that the friendship between a human and a dog is special and will create an individualized bond with each dog. All of our walkers have been background-checked, so you can rest at ease and be confident in our dog-walking service!</p>
            <h2>Meet the team?</h2>
            <p><a href="#/walkers">Click here</a> and find your pup its new buddy!</p>
        </div>
    </div>
    <hr>
    <h2><i class="fa fa-quote-left"></i> Oh, the places you'll go! <i class="fa fa-quote-right"></i> <small>-Dr. Suess</small></h2>
    <div class="row text-center">
        <div class="col-sm-4">
            <img class="img-circle" src="http://s22.postimg.org/jj1332t3h/dog1.jpg" />
            <p>Alki</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="http://s16.postimg.org/6yddr3rpd/dog2.jpg" />
            <p>Waterfront</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="http://s3.postimg.org/n7k895xvz/dog3.jpg" />
            <p>Downtown</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
            <img class="img-circle" src="http://s22.postimg.org/942hjlyel/dog1.png" />
            <p>Capitol Hill</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="http://s16.postimg.org/6edbt8t29/dog2.png" />
            <p>University District</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="http://s3.postimg.org/jy5c6v75r/dog3.png" />
            <p>Northgate</p>
        </div>
    </div>
</div>


<div class="container connect" id="connect">
    <div class="row">
        <h1>Connect with #HappyPaws!</h1>
        <p>Connect with us on Google+, Facebook and Twitter to receive news about all our upcoming events and updates! We also love seeing all the fun pictures and reading your reviews about our service. We always strive for simplicity and excellence, so any input is greatly appreciated.</p>
        <p>Add us today!</p>
        <ul class="list-inline text-center">
            <li>
                <a class="btn-social btn-outline"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
                <a class="btn-social btn-outline"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a class="btn-social btn-outline"><i class="fa fa-twitter"></i></a>
            </li>
        </ul>
        <p class="text-center"><small>None of these links are active as I did not create actual social media pages for Happy Paws.</small></p>
    </div>
</div>

<footer class="info text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Verena Chung | CS5610 | WebDev - Final Project | Fall 2015
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                All pictures uploaded are mine or used with permission from the owners.
            </div>
        </div>
    </div>
</footer>