<ul class="nav nav-sidebar" ng-controller="SidebarController">
    <li ng-class="{'active' : $location.url().indexOf('home') != -1}"><a href="#/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
    <li ng-class="{'active' : $location.url().indexOf('profile') != -1}"><a href="#/profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a></li>
    <li ng-class="{'active' : $location.url().indexOf('admin') != -1}"><a href="#/admin"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Admin</a></li>
    <li ng-class="{'active' : $location.url().indexOf('form') != -1}"><a href="#/form"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Forms</a></li>
</ul>