<div class="container-fluid" ng-controller="HeaderController as model">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="##main"><i class="fa fa-paw"></i> Happy Paws!</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li ng-hide="isUser" ng-class="{'active' : $location.url().indexOf('about') != -1}"><a ng-href="##about">About</a></li>
            <li ng-hide="isUser" ng-class="{'active' : $location.url().indexOf('team') != -1}"><a href="##team">Our Team</a></li>
            <li ng-hide="isUser" ng-class="{'active' : $location.url().indexOf('connect') != -1}"><a ng-href="##connect">Connect</a></li>
            <li ng-hide="isWalker" ng-class="{'active' : $location.url().indexOf('walkers') != -1}"><a ng-href="#/walkers">Find a Walker!</a></li>

            <!-- LINKS FOR GUEST -->
            <li class="dropdown" ng-hide="isUser" ng-class="{'active' : $location.url().indexOf('login') != -1}">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    LOG IN <span class="caret"></span>
                </a>
                <ul class="dropdown-menu log">
                    <li>
                        <div ng-show="model.error" class="alert alert-danger">Email or password is not correct.</div>
                        <form name="loginForm">
                            <div class="form-group">
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                    <input ng-model="model.email" class="form-control" id="email" type="email" placeholder="Email" required>
                                </div>
                                <span id="defaultE" class="help-block">Default owner: test@gmail.com<br/>
                                    Default walker: verena@gmail.com</span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                    <input ng-model="model.password" class="form-control" id="password" type="password" placeholder="Password" required>
                                </div>
                                <span id="defaultP" class="help-block">Default password for both: test</span>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-model="model.isWalker" type="checkbox"> Check here if you're a returning walker.
                                </label>
                            </div>
                            <div class="form-group">
                                <button ng-click="model.login()" ng-disabled="loginForm.$invalid" class="btn btn-primary btn-block">Sign In</button>
                            </div>
                        </form>
                        <div class="bottom text-center">
                            New user? <a href="#/register">Register here!</a>
                        </div>
                    </li>
                </ul>
            </li>

            <!-- LINKS FOR USER -->
            <li class="dropdown" ng-show="isUser" ng-class="{'active' : $location.url().indexOf('login') != -1}">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-tasks"></i> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu log">
                    <li class="list">
                        <a href="#/profile/{{user._id}}"><i class="fa fa-user"></i>&nbsp; Profile</a>
                    </li>
                    <li class="list">
                        <a ng-hide="user.hired.indexOf('no') > -1" href="#/profile/{{user._id}}/appointments"><i class="fa fa-calendar"></i>&nbsp; Appointments</a>
                    </li>
                    <li class="list">
                        <a ng-hide="user.hired.indexOf('no') > -1" href="#/profile/{{user._id}}/reviews"><i class="fa fa-star-o"></i>&nbsp; Reviews</a>
                    </li>
                    <li class="list">
                        <a ng-hide="user.hired.indexOf('no') > -1" href="#/profile/{{user._id}}/reports"><i class="fa fa-newspaper-o"></i>&nbsp; Report Cards</a>
                    </li>
                    <li class="list-top">
                        <a ng-click="model.confirmDelete()" href=""><span class="text-danger"><i class="fa fa-times"></i>&nbsp; Delete account</span></a>
                    </li>
                    <li class="list-top">
                        <a ng-click="model.logout()" href=""><i class="fa fa-sign-out"></i>&nbsp; Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>