<nav class="navbar navbar-inverse navbar-fixed-top">
    <div ng-include="'header/header2.view.html'"></div>
</nav>

<div class="container-fluid">
    <h1 class="page-header">Profile</h1>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/walkerprofile">Walker</a></li>
        <li role="presentation" class="active"><a href="#/profile">Dog <span class="sr-only">(current)</span></a></li>
    </ul>
    <div class="row">
        <div class="col-sm-3">
            <p><img class="img-responsive img-rounded" src="http://s13.postimg.org/8a1mv32if/dog.png"></p>
            <a href="#/walkers" class="btn btn-warning form-control" role="button">Walk Now!</a>
        </div>
        <div class="col-sm-7">
            <h2>Kibbles</h2>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="breed" class="col-sm-3 control-label">Breed:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="breed" id="breed" class="form-control" placeholder="Breed">
                    </div>
                </div>
                <div class="form-group">
                    <label for="age" class="col-sm-3 control-label">Age:</label>
                    <div class="col-sm-3">
                        <input type="number" min="0" ng-model="age" id="age" class="form-control" placeholder="Age">
                    </div>
                </div>
                <div class="form-group">
                    <label for="personality" class="col-sm-3 control-label">Personality:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="personality" id="personality" class="form-control" placeholder="Shy? Agreesive? Playful? etc.">
                    </div>
                </div>
                <div class="form-group">
                    <label for="notes" class="col-sm-3 control-label">Notes:</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="notes" id="notes" class="form-control" placeholder="Teething? Scared of children? etc.">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-success form-control" role="button">Update</button>
                    </div>
                </div>
            </form>
            <h4 class="page-header">Latest Report Card:</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Distance walked</th>
                    <th>Time walked</th>
                    <th>Peed?</th>
                    <th>Pooped?</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>10/09/15</td>
                    <td>0.40 mi</td>
                    <td>32 min</td>
                    <td>Yes</td>
                    <td>No</td>
                    <td>Had so much fun with him tonight! Looking forward to many more walks with him. Have a good night!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
