<div class="container-fluid">
    <h1 class="page-header">Appointments</h1>
    <div class="content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-2"><i class="fa fa-paw"></i> Dog</th>
                <th class="col-md-2"><i class="fa fa-child"></i> Walker</th>
                <th class="col-md-2"><i class="fa fa-calendar-o"></i> Date</th>
                <th class="col-md-2"><i class="fa fa-clock-o"></i> Time</th>
                <th class="col-md-2"><i class="fa fa-refresh"></i> Frequency</th>
                <th class="col-md-2"><i class="fa fa-cubes"></i> Walk Size</th>
                <th class="col-md-1 text-center">Delete?</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="appt in model.appts">
                <td>{{appt.dogName}}</td>
                <td>{{appt.walker}}</td>
                <td>{{appt.date}}</td>
                <td>{{appt.time}}</td>
                <td>{{appt.freq}}</td>
                <td>{{appt.size}}</td>
                <td class="text-center">
                    <button class="btn btn-danger btn-sm glyphicon glyphicon-remove" ng-click="model.deleteAppt($index)" title="Delete"></button>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-hide="model.hasAppts" class="alert alert-warning" role="alert">Looks like you haven't made any appointments yet. <a href="#/walker" class="alert-link">Let's find a walker!</a></div>
    </div>
</div>
