<div class="container-fluid">
    <h1 class="page-header">Profile</h1>
    <div class="content">
        <h2>{{model.owner.dogName}}</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-9">
                    <p ng-model="model.owner.email" id="email" class="form-control-static">{{model.owner.email}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-9">
                    <p ng-model="model.owner.password" id="password" class="form-control-static"><i class="fa fa-lock"></i></p>
                </div>
            </div>
            <div class="form-group">
                <label for="breed" class="col-sm-2 control-label">Breed:</label>
                <div class="col-sm-9">
                    <p ng-model="model.owner.breed" id="breed" class="form-control-static">{{model.owner.breed}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="age" class="col-sm-2 control-label">Age:</label>
                <div class="col-sm-9">
                    <p ng-model="model.owner.age" id="age" class="form-control-static">{{model.owner.age}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="personality" class="col-sm-2 control-label">Personality:</label>
                <div class="col-sm-9">
                    <p ng-model="model.owner.personality" id="personality" class="form-control-static">{{model.owner.personality}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="notes" class="col-sm-2 control-label">Special Notes:</label>
                <div class="col-sm-9">
                    <p ng-model="model.owner.notes" id="notes" class="form-control-static">{{model.owner.notes}}</p>
                </div>
            </div>
        </form>
    </div>
</div>
